fastapi
uvicorn
mediapipe
opencv-python
tensorflow
librosa
soundfile
transformers
torch
firebase-admin
python-dotenv
httpx
webrtcvad
xgboost
openai
google-cloud-speech
numpy
pandas
scikit-learn
python-multipart
dlib